<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">สร้างเป้าหมายใหม่</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">สร้างเป้าหมายใหม่</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
<div class="container-fluid">
    <div class="row mb-2" style="justify-content: flex-end; padding: 7.5px">
        <div>
            <!-- <button type="button" class="btn btn-block btn-info btn-xs"
                [routerLink]="'/target-dashboard/'">Back</button> -->
            <a href="/target-dashboard"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;Back</a>
        </div>
        <div class="ml-2">
            <!-- <button type="button" class="btn btn-block btn-info btn-xs">Submit</button> -->
            <a href="/target-dashboard"><i class="far fa-check-circle"></i>&nbsp;Submit</a>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                    <div class="card-body">
                        <div class="row mb-2">
                            <label for="targetType" class="offset-md-1 col-md-2 col-form-label">ประเภทเป้าหมาย:</label>
                            <div class="col-md-3">
                                <ng-select [items]="targetTypes" bindLabel="name" bindValue="value" [(ngModel)]="selectedTargetType"
                                    placeholder="กรุณาเลือก" name="targetType">
                                </ng-select>
                            </div>
                            <label for="runningNo" class="offset-md-1 col-md-2 col-form-label">Running No.:</label>
                            <label class="col-md-3 col-form-label"></label>
                        </div>
                        <div class="row mb-2">
                            <label for="site" class="offset-md-1 col-md-2 col-form-label">Site:</label>
                            <label class="col-md-3 col-form-label">สำนักงานนอร์ธปาร์ค</label>
                            <label for="status" class="offset-md-1 col-md-2 col-form-label">Status:</label>
                            <label class="col-md-3 col-form-label">New</label>
                        </div>
                        <div class="row mb-2">
                            <label for="division" class="offset-md-1 col-md-2 col-form-label">Division:</label>
                            <label class="col-md-3 col-form-label">ฝ่ายเทคโนโลยีสารสนเทศ (ITCSD)</label>
                            <label for="revisionNo" class="offset-md-1 col-md-2 col-form-label">Revision No.:</label>
                            <label class="col-md-3 col-form-label">NONE</label>
                        </div>
                        <div class="row">
                            <label for="department" class="offset-md-1 col-md-2 col-form-label">Department:</label>
                            <label class="col-md-3 col-form-label"></label>
                            <label for="modifyNo" class="offset-md-1 col-md-2 col-form-label">Modify No.:</label>
                            <label class="col-md-3 col-form-label"></label>
                        </div>
                        <div class="row">
                            <label for="year" class="offset-md-1 col-md-2 col-form-label">Year:</label>
                            <div class="col-md-3">
                                <ng-select [items]="years" bindLabel="name" bindValue="value"
                                    [(ngModel)]="selectedYear" placeholder="กรุณาเลือก" name="year">
                                </ng-select>
                            </div>
                            <label for="dateCreate" class="offset-md-1 col-md-2 col-form-label">Date Create:</label>
                            <label class="col-md-3 col-form-label">22/06/2013</label>
                        </div>
                        <div class="row">
                            <label for="creator" class="offset-md-1 col-md-2 col-form-label">Creator:</label>
                            <label class="col-md-3 col-form-label">Thanawan Sankum</label>
                            <label for="dateDue" class="offset-md-1 col-md-2 col-form-label">Date Due:</label>
                            <label class="col-md-3 col-form-label"></label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12" style="text-align: right; color: #007bff">
            <a (click)="addTarget(targetModal)" style="cursor: pointer;" title="เพิ่มเป้าหมายหลัก"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div style="margin: -12px -10px">
    <app-target-table [dataSource]="targets" [displayedColumns]="displayedColumns" [referenceId]="'Target ID'"
        [iconKeyReference]="'has_sub_targets'" [renderTemplate]="'subTarget'" 
        [runningNo]="runningNo"
        [title]="'เป้าหมายหลัก'"
        (deleteTarget)="deleteTarget($event)"    
    >
    </app-target-table>
    </div>
</div>
</section>

<ng-template #targetModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">เป้าหมายหลัก</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row mb-2">
                <div class="col-md-3">ลำดับที่</div>
                <div class="col-md-6">1</div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">หัวข้อเป้าหมาย</div>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">Standard</div>
                <div class="col-md-9">
                    <ng-select [items]="standards" bindLabel="name" bindValue="value"
                        [(ngModel)]="selectedStandard" placeholder="กรุณาเลือก" name="standard">
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">พันธะมุ่งหมาย</div>
                <div class="col-md-9">
                    <ng-select [items]="bonds" bindLabel="name" bindValue="value"
                        [(ngModel)]="selectedBond" placeholder="กรุณาเลือก" name="bond">
                    </ng-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ตกลง</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ยกเลิก</button>
    </div>
</ng-template>