div.target-table {
    margin: 12px 10px;
    border: 1px solid #80808036;
  
    p { margin: 0; }
}
  
.sub-row {
    border: 0; 
    margin: 0;
    
    p {
    font-weight: bold;
    background: white;
    padding: 10px;
    }

    .mat-table { 
    background-color: inherit; 
    }
}

.table-title {
    font-size: 1rem;
}

ng-select.required:after, form-control.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

@media only screen and (max-width: 768px) {
    .mat-table {
        overflow-x: scroll;
    }
    .mat-row,
    .mat-header-row {
        min-width: 800px;
    }
}


